


 *{
   margin: 0;
   padding: 0;
   font-style: 'Source Serif Pro', serif;
   overflow: hidden;
 }


.FormContainer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}


 .header{
  width: 100%;
 }

.lastResults{
  font-size: 18px;
}

 .CoverPic{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
 }



 .CoverPic::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 7, 11, 0.637);
}

 .CoverPic img{
  width: 100%;
  height: 100%;
  background-size: cover;
 }

 .Home-wrapper{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50% , -50%);
  text-align: center;
  width: 100vw;
 }

 .Home-wrapper .header > p{
  font-size: 70px;
  width: 100%;
  letter-spacing: 17px;
  margin-bottom: 10px;
  color: #afafaf;
 }

 .signlogin{
  padding: 10px;
  font-size: 15px;
  letter-spacing: 3px;
  background-color: #ffff5b;
  border: 1px solid #fbff00;
  color: #302f2f;
  cursor: pointer;
 }

 .signlogin:hover{
  background-color: #ffff00;
 }


 .Credential{
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 50px;
  margin-bottom: 10px;
 }

 .Credential button{
  cursor: pointer;
  background-color: inherit;
  border: none;
 }

 .Credential img{
  width: 40px;
  height: 40px;
 }


.SignUpLoginStatus input{
  cursor: pointer;
  padding: 9px 107px;
    font-size: 16px;
    letter-spacing: 2px;
    color: gray;
    background-color: #363940;
   
}


 .Game{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  transition: all 0.5s;
 }

 .User-Container-data{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 80%;
  background-color: rgb(22 26 32);
  z-index: 2;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
 }

 .User-Container-data .LogOut{
  position: absolute;
  padding: 10px 40px;
  top: 50px;
  left: 10px;
 }

 .User-Container-data .Userdata{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
 }
 .User-Container-data .Table-header {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  width : 100% ;
   padding : 20px;
    display :grid ;
     grid-template-columns : repeat(3,1fr) ;
      place-items : "center" ;
 }

 .User-Container-data .Table-header div{
  text-align: center;
 }

 .User-Container-data .User-icon img{
  width: 55px;
  height: 100%;
 }

 .User-Container-data .UserLastResults{
  height: 50%;

  text-align: center;
  justify-content: space-around;
  width: 100%;
}

.Game-Container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: 100%;
  width: 100%;
}

.Game-Container .Blocks-Container{
  display: flex;
  grid-column: 2 / 3;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.Game-Container .Blocks-Container .Blocks{
  display : grid ;
  grid-template-columns: repeat(5 , 1fr); 
  grid-template-rows: repeat(4 , 1fr) ; 
  column-gap : 15px ;
  row-gap : 15px ;
  width: 87%;
  height: 80%;
}

.Game-Container .Retry-Round{
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(50 , 1fr);
  grid-template-rows: repeat(100 , 1fr);
  grid-column: 1/1;
}



.Cart-parent{
  position: relative;
  transition:"all 1s";
  transform-style: preserve-3d;
  overflow: initial;
}


.Cart-parent .Cart{
  position: absolute;
  background-color : #eee;
  width : 100% ;
  height : 100%;
  backface-visibility: hidden;
  background: rgb(2,51,126);
background: linear-gradient(180deg, rgba(2,51,126,1) 0%, rgba(173,34,126,1) 100%, rgba(0,212,255,1) 100%, rgba(3,11,94,1) 100%);
}

.Cart-parent img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.Cart-parent .Back{
backface-visibility: hidden;
transform: rotateY(
  180deg);
  width: 100%;
  height: 100%;
}

.Game-Container .Game-data{
  height: 100vh;
  grid-column: 3 / 3;
  display: grid;
  grid-template-columns: repeat(50 , 1fr);
  grid-template-rows: repeat(100 , 1fr);
}

.Game-Container .Game-data .Game-data-bar {
  display: flex;
  align-items: center;
  justify-content:  space-between;
  width: 100%;
  height: 70px;
  background-color: #eee;
  padding: 10px;
  border-radius:30px 5px 5px 30px;
  grid-column: 1/48;
  grid-row: 6/100;
  }


  .Game-Container .Game-data .GameBTNWrapper{
    grid-column: 25/50;
    grid-row: 85/100;
    }

    
    .GameBTN {
      padding: 5px 25px;
      font-size: 16px;
      letter-spacing: 3px;
      cursor: pointer;
      }


  .Form{
    text-align: center;
    width: 503px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
  
    }

    .Form .FormHeader{
      font-size: 21px;
      margin-bottom: 7px;
      letter-spacing: 2px;
      color: gray;
    }

.SignupLoginWrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
}


    .Form input{
      background-color: #2a2a2c;
    opacity: 0.6;
    border: 2px solid transparent;
    width: 503px;
    color: rgb(68, 66, 66);
    padding: 10px 16px;
    position: relative;
    width: 100%;
    height: 35px;
    margin-bottom: 16px;
    }

    .Form .btn {
      width: 100%;
    background-color: #363940;
    color: white;
    height: 40px;
    font-size: 14px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    }

    .Form input:focus{
      background-color: rgb(19, 17, 17);
    }

    .Form .Error {
      width: 100%;
      background-color: red;
      color: white;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-size: 14px;
    }

    .start-game {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 7, 11, 0.8);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    .start-game button{
      padding: 8px 63px;
      font-size: 18px;
      letter-spacing: 3px;
      background-color: #0f345e;
      color: white;
      cursor: pointer;
      background: rgb(2,0,36);
      background: linear-gradient(80deg, rgba(2,0,36,1) 55%, rgba(0,212,255,1) 100%, rgba(2,51,126,1) 100%, rgba(3,11,94,1) 100%);
    }

  



    .Modal{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e9e3e31f;
      z-index: 20;
    }

    .Modal > div > p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      width: 450px;
      font-size: 18px;
      letter-spacing: 1px;
      text-align: center;
    }

    .Modal > div{
      position: absolute;
      width: 500px;
      height: 200px;
      background-color: #363940;
      transition : "all 1s";
      color: white;
      z-index: 20;
    }

    
    .Modal > div > div{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      border-top: 1px solid black;
    }

    .Modal > div >  div > button{ 
      position: absolute;
      bottom: 10px;
      right: 10px;
    } 

    .CredSignUpForm {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 30;
      background-color: white;
      transition: all 0.3s 
    }
    

    .CredError{
      position: absolute;
      top: 0;
      width: 100%;
      background-color: red;
      color: wheat;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      transition: all 1s;
    }
    /* Responsive */

   

 

    @media (min-width: 768px ) and (max-width: 992px ) {
    
      .Game-Container .Game-data .Game-data-bar {
        font-size: 14px;
        flex-direction: column;
        height: 65px;
      }
     
   
      .Game-Container .Blocks-Container .Blocks {
        width: 95%;
        height: 85%;
    }
    }
    @media (min-width: 600px ) and (max-width: 768px ) {
     
      .Game-Container .Game-data .Game-data-bar {
        grid-column: 3/51;
        flex-direction: column;
        font-size: 12px;
        height: 60px;
      }
     
      .Game-Container {
        grid-template-columns: 27.5% 45% 27.5%;
      }
      .Game-Container .Blocks-Container .Blocks {
        width: 100%;
       
    }
    .Home-wrapper .header > p{
      font-size: 40px;
    }
  
    }


 

    @media  (max-width : 600px){
      .CredError{
        height: 40px;
        font-size: 14px;
      }
      .Form{
        width: 400px;
      }

      .Form input{
        height: 25px;
      }
      .Game-Container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 80% 10%;
        width: 100vw;
      }
      .Game-Container .Blocks-Container{
        grid-row: 2/3;
        grid-column: inherit;
      }
      .Game-Container .Blocks-Container .Blocks{
        width: 90%;
      }

      .Game-Container .Game-data{
        width: 100%;
        display: flex;
        height: fit-content;
        grid-column: inherit;
        justify-content: center;
        grid-row: 1/2;
      }


      .Game-Container .Retry-Round {
        display: initial;
        grid-row: 3/3;
    }

    .Home-wrapper .header > p{
      font-size: 40px;
    }
    .User-Container-data .Table-header{
      font-size: 13px;
    }

    .lastResults{
      font-size: 13px;
    }

     .TableHead{
      font-size: 11px;
     }     


     .Modal > div{
      width: 400px;
     }

     .Modal > div > p{
      font-size: 13px;
     }
     .GameBTN{
      padding: 4px 15px;
      font-size: 13px;
     }

    .Game-Container .Game-data .GameBTN {
      position: absolute;
      bottom: 20px;
      right: 20px;
  }
  .Game-Container .Game-data .Game-data-bar {
    width: 300px;
    height: 25px;
    border-radius: 5px 5px 5px 5px;
    font-size: 13px;
  }

.Retry-Round-btn .GameBTN{
  position: absolute;
  bottom: 20px;
  left: 20px;
}
    }

    

    @media (max-width : 450px){
      .Home-wrapper .header > p{
        font-size: 30px;
      }
    }

   
    @media (max-width : 400px){
     .User-Container-data .LogOut {

        padding: 6px 22px;
        font-size: 10px;
    }
      .Form .Error{
        font-size: 12px;
      }
      .Form{
        width: 320px;
      }
      .SignUpLoginStatus input{
        padding: 6px 98px
      }
      .Form input{
        height: 20px;
      }
      .Credential{
        column-gap: 100px;
      }
      .Credential img{
        width: 30px;
        height: 30px;
      }
      .Game-Container{
        grid-template-rows: 10% 80% 10%;
        grid-template-columns: 100%;
        width: 100vw;
      }
      .Game-Container .Blocks-Container{
        grid-row: 2/2;
        grid-column: inherit;
      }
      .Game-Container .Blocks-Container .Blocks{
        width: 85%;
      }

      .Game-Container .Game-data{
        width: 100%;
        display: flex;
        height: fit-content;
        grid-column: inherit;
        justify-content: center;
      }
      .Home-wrapper .header > p{
        font-size: 20px;
      }
      .signlogin {
        padding: 8px;
        font-size: 11px;}
      .Game-Container .Retry-Round {
        bottom: 10px;
        left: 25px;
    }
  
  .Game-Container .Game-data .Game-data-bar {
    width: 245px;
    font-size: 11px;
  }
  .lastResults{
    font-size: 11px;
  }
  .Modal > div{
    width: 300px;
    height: 150px;
  }

  .CredError{
    height: 20px;
    font-size: 12px;
  }
    }
 

    .Page404{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .Page404Wrapper {
      width: 50%;
      height: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
      background-color: rgb(249 249 249 / 95%);
      
      
    }